@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Photon.Service.VPN.Pages.RegularView
@{
	Layout = "~/pages/layouts/regular-view.cshtml";
}

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-body">
      <table id="Table_@Model.PageTitle" class='table table-bordered table-striped table-hover'>
        <thead>
            @RenderSection("THead", required: false)
        </thead>
        <tbody>
            @RenderBody()
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  @RenderSection("Extra", required: false)

</section>
<!-- /.content -->

@section Footer {
	@RenderSection("Footer", required: false)
}

@section Styles {
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
	@RenderSection("Styles", required: false)
}

@section Scripts {
  <!-- DataTables  & Plugins -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="/plugins/jszip/jszip.min.js"></script>
  <script src="/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- Page specific script -->
  <script src="/dist/js/list.js"></script>
  <script>
      $(function () {
          $("#Table_@Model.PageTitle").DataTable({
              "paging": true,
              "responsive": true, 
              "lengthChange": false, 
              "ordering": true,
              "autoWidth": false,
              "info": true,
              "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo(id + '_wrapper .col-md-6:eq(0)');
  });
  </script>
	@RenderSection("Scripts", required: false)
}